<style>
  div#renderDiv{
      overflow-x: auto;
      white-space: nowrap;
  }
  div.column {
      min-width: 300px;
      max-width: 300px;
      max-height: 300px;
      min-height: 300px;
      display: inline-flex;
      overflow-y: auto;
      border: solid 1px #888888;
      margin-right: -1px;
  }
  ul {
      padding: 0px;
      margin: 0px;
  }
  li {
      max-width: 300px;
      padding: 5px 10px 5px 10px;
      margin: 0px;
  }
  li div.label_in {
      width: 250px;
      margin: 0px;
      padding: 0px;
      display: inline-block;
  }
  li div.label {
      width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0px;
      padding: 0px;
      display: block;
  }
  li.clickable {
      color: #0f6385;
      cursor: pointer;
  }
  li.clickable::after{
      content: '';
      width: 7px;
      height: 7px;
      border: 0px;
      border-top: solid 2px #0f6385;
      border-right: solid 2px #0f6385;
      transform: rotate(45deg);
      position: relative;
      top: 4px;
      float: right;
}
  li.selected {
      background-color: #dddddd;
  }
</style>

<div id="renderDiv"></div>
