<style>

.node circle {
  fill: #fff;
  stroke: #cccccc;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.branchNode {
  cursor: pointer;
}

.aeNode circle {
  stroke: #89c4ff;
}

.anNode circle {
  stroke: #ff8989; 
}

.faNode circle {
  stroke: #8989ff;
}

.oaNode circle {
  stroke: #ffff89;
}

.maNode circle {
  stroke: #ff89ff; 
}

.onNode circle {
  stroke: #89ff89; 
}

.edge {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

input.downloadButton {
  color: #4ea0c9;
  font-weight: bold;
  border: solid 2px #4ea0c9;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
}

div#gm_stanza {
  overflow: scroll;
}
</style>
<div id="renderDiv"></div>
<div id="gm_stanza"></div>
