
 <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  -->
  <style type="text/css">

    /* 'entypo' https://weloveiconfonts.com/ */
    @import url(https://weloveiconfonts.com/api/?family=entypo);
    [class*="entypo-"]:before {
       font-family: 'entypo', sans-serif;
    }

    .thead {
      border-bottom-style: inset;
    }
    .header {
      padding-right: 20px;
      padding: 10px 10px 10px 10px;
    }
    .organism {
      padding: 4px 10px 4px 2px;
      max-width: 160px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .medium {
      padding: 8px 20px 2px 2px;
    }
    .component {
      padding: 8px 2px 2px 2px;
    }

    a {
      color: #007bff;
      text-decoration: none;
    }
    .role_component_style {
      color: #4ea0c9;
    }
    .component_style {
      color: #48d1cc;
    }
    div#popup {
      font-weight: bold;
      font-size: 14px;
    }
    .component_label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 180px;
      max-width: 15px;
    }
    .component_label p{
      transform:rotate(90deg);
      margin-top: -80px;
     text-overflow: ellipsis;
    }

  </style>

<div id="table_area"></div>

</table>

